.button {
    border-radius: 15px;
     border: none;
     color: white;
     padding: 5px 20px;
     text-align: center;
     text-decoration: none;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
   }
   
   .button1 {
     background-color: #FF6347; 
     color: white; 
   }
   
   .button1:hover {
     background-color: #4CAF50;
     color:white;
   }


   .cash {
    background-color: #1bc78e; 
    color: white; 
  }
  
  .cash:hover {
    background-color: #eb22e1;
    color:white;
  }
  
   
   .button2 {
     background-color: red; 
     color: white; 
   }
   
   .button2:hover {
     background-color:#483D8B;
     color:white;
   }
   
   .button3 {
     background-color:#1E90FF; 
     color: white; 
   }
   
   .button3:hover {
     background-color:#FF5733 ;
     color:white;
   }
   
   .button4 {
     background-color:#7B68EE; 
     color: white; 
   }
   
   .button4:hover {
     background-color:#00008B;
     color:white;
   }
