$white: #ffffff;
$black: #000000;
$bg: #e8ebee;
$radius: 15px;
$shadow-color: #caced1;
$text-font: "Quicksand", sans-serif;
$btn-font: "Jost", sans-serif;
$shadow: 13px 13px 20px $shadow-color, -13px -13px 20px $white;
$shadow-in: inset 4px 4px 8px $shadow-color, inset -4px -4px 8px $white;

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: $text-font;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $bg;
}

::selection {
  background-color: $black;
  color: white;
}

#container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  margin: 30px;
  box-shadow: $shadow;
  border-radius: $radius;
}

#text {
  box-sizing: border-box;
  background-color: $bg;
  color: $black;
  border-radius: $radius;
  padding: 10px 15px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $text-font;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  box-shadow: $shadow-in;
}

#copy {
  position: relative;
  box-sizing: border-box;
  background-color: #482ff7;
  color: $white;
  width: 180px;
  min-height: 44px;
  font-size: 1rem;
  font-family: $btn-font;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  user-select: none;
  box-shadow: $shadow;

  &:before {
    content: "";
    width: 16px;
    height: 16px;
    bottom: -20px;
    left: 82px;
    clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
  }

  &:after {
    content: attr(tooltip);
    width: 140px;
    bottom: -48px;
    left: 20px;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.8rem;
  }

  &:before,
  &:after {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    background-color: $black;
    color: $white;
    transform: translateY(-10px);
    transition: all 300ms ease;
  }

  &:hover:before,
  &:hover:after {
    opacity: 1;
    transform: translateY(0);
  }
}
