:root {
  --subtext-color: rgba(0, 0, 0, 0.4);
  --accent-color: rgba(0, 0, 0, 0.7);
}

html {
  font-size: 16px;
}
*{
    box-sizing:border-box;
  margin:0;
  padding:0;
}
body {
  height: 100vh;
  background-color: var(--primary-color);
  display: grid;
  place-items: center;
  padding: 20px;
}
/*grid layout for settings and code preview content*/
#copy-txt-component {
  height: fit-content;
  max-width: 500px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 40px 1fr;
  overflow: hidden;
}
/*the small bar abox the code*/
.settings {
  transition:1s;
  background: rgba(100, 0, 200, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
/*the title in the setting bar */
.title {
  font-size: 1.1rem;
  color:darkgreen;
}
/*the red yllow and green circles container*/
.ryg {
  display: flex;
  gap: 10px;
}
/*the red yllow and green circles*/
.r,
.y,
.g {
  height: 10px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.r {
  background-color: red;
}

.y {
  background-color: yellow;
}

.g {
  background-color: #0f0;
}

.copy {
  fill:rgba(0,0,0,0.5);
  height: 40%;
}

code {
  padding: 0px 20px;
  font-size: 0.96rem;
  white-space: pre-wrap;
  overflow-y: hidden;
  overflow-x:auto;
  color:rgba(0,0,0,0.6);
}

span {
  color: rgba(100, 0, 200, 0.5);
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/*scrollbar settings*/
/* width */
::-webkit-scrollbar {
height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background:var(--primary-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,0.4); 
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
